<div class="brands-container">
  <h2><%= "#{@brewery.name}の銘柄一覧" %></h2>
  <%= link_to '銘柄登録', new_brewery_brand_path(@brewery) %>
  <%= link_to "#{@brewery.area.name}の蔵元一覧へ戻る", area_path(@brewery.area_id) %>
  <div class="brand-container">
    <% @brands.each do |brand| %>
      <div class="brand-select">
        <%= link_to brand.name, brand_path(brand) %><br>
        <% if brand.aroma.nil? %>
          未評価<br>
        <% else %>
          香り:<%= brand.aroma %>
          第一印象:<%= brand.impression %>
          旨味:<%= brand.taste %>
          余韻:<%= brand.afterglow %><br>
        <% end %>
      </div>
    <% end %>
  </div>
</div>