<div class="selections">
  <h2><%= @brand.name %></h2>
  <h3>味わい</h3>
  <% if @brand.aroma.nil? %>
    評価がありません<br>
  <% else %>
    香り:<%= @brand.aroma %>
    第一印象:<%= @brand.impression %>
    旨味:<%= @brand.taste %>
    余韻:<%= @brand.afterglow %><br>
  <% end %>
  <%= link_to 'レビュー投稿', new_brand_review_path(@brand) %>
  <%= link_to "#{@brand.brewery.name}の銘柄一覧へ戻る", brewery_path(@brand.brewery_id) %>

  <% if @reviews.present? %>
    <h3>レビュー一覧</h3>
    <div class="reviews-container">
      <% @reviews.each do |review| %>
        <div class="review-container">
          <%= link_to review.user.nickname, user_path(review.user) %><br>
          <%= image_tag review.image.variant(resize: '450x450'), class: 'review-image' if review.image.attached? %><br>
          香り:<%= review.aroma_id %>
          第一印象:<%= review.impression_id %>
          旨味:<%= review.taste_id %>
          余韻:<%= review.afterglow_id %><br>
          コメント:<%= review.comment %><br>
        </div>
      <% end %>
    </div>
  <% end %>
</div>