<div class="reviews-container">
  <h2>最新の投稿</h2>
  <% @reviews.each do |review| %>
    <div class="review-container">
      <%= link_to review.brand.brewery.name, brewery_path(review.brand.brewery) %> / <%= link_to review.brand.name, brand_path(review.brand) %><br>
      <%= link_to review.user.nickname, user_path(review.user) %><br>
      <%# <%= image_tag review.image.variant(resize: '450x450'), class: 'review-image' if review.image.attached? %><br>
      香り:<%= review.aroma_id %>
      第一印象:<%= review.impression_id %>
      旨味:<%= review.taste_id %>
      余韻:<%= review.afterglow_id %><br>
      コメント:<%= review.comment %><br>
    </div>
  <% end %>
</div>